@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slider-container {
    max-width: 100% !important;
    padding: 0px !important;
    margin-inline: 0px !important;

}

body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
}

.like:hover {
    color: green;
    cursor: pointer;
}

.row {
    max-width: 100%;
    margin-inline: 0px !important;
}

.nfavorite {
    left: 111%;
    top: 15% !important;
    /* border: 1px solid  #E50914!important; */
    color: #E50914 !important;
}

svg:hover {
    color: #078BCF !important;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.otherVideos:hover {
    color: #078BCF !important;
    cursor: pointer;
}

.btn-outline-danger:hover {
    background-color: rgba(0, 128, 0, 0) !important;

}

.red {
    background-color: #E6020B !important;
    border: none !important;
    border-radius: 0% !important;

}

.text-red {
    color: #E6020B !important;
}

.fs-14 {
    font-size: 14px !important;
}

.bebas {

    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url("https://creative-sorbet-96d1b6.netlify.app/static/media/texure.5fd81b0ea718d21dec89.jpg");
    background-repeat: repeat;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}

.bebas2 {
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url("https://creative-sorbet-96d1b6.netlify.app/static/media/texure.5fd81b0ea718d21dec89.jpg");
    background-repeat: repeat;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.position-absolute {
    bottom: 0px !important;
    padding-inline: 5px;
}

#pRating {
    position: absolute;
    animation: moveLeft 0.5s linear forwards;
}

@keyframes moveLeft {
    0% {
        left: 50px;
    }

    100% {
        left: 0px;
    }
}


.castAnimation {
    background-color: #00050db2 !important;
    position: absolute !important;
    bottom: 0px;
    animation: slideIn 0.5s ease forwards;

}

.info {
    z-index: 33;
    background-color: #000000d7;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    max-width: 100%;
    animation: slideIn 0.5s ease forwards;
    /* Applica l'animazione all'elemento */
}

@keyframes slideIn {
    from {
        bottom: -66%;
    }

    to {
        bottom: 0;
    }
}

.bg-details {
    background-size: cover;
}

.info.hidden {
    display: none;
}

.blu {
    background-color: #00050D !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,

body {
    margin: 0px;
}


#input {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-scrolled {
    transition: all 0.3s ease;
}

.grey {
    background-color: #333333;
}

.dk {
    background-color: #00050d6e !important;
    border-radius: 0 !important;

}

.text-blue {
    color: #078BCF !important;
}

.bg-blue {
    background-color: #078BCF !important;
}

.dk2 {
    background-color: #00050d !important;
    border-bottom: 0.5px solid #078BCF;

}


.gradient {
    background: rgb(0, 5, 13);
    background: linear-gradient(0deg, rgba(0, 5, 13, 1) 0%, rgba(0, 5, 13, 0.9668242296918768) 13%, rgba(0, 5, 13, 0.801) 31%, rgba(0, 5, 13, 0.671) 55%, rgba(0, 5, 13, 0.39) 100%);
}

.scale {
    /* cursor: pointer; */
    scale: 1.05;
    transition: all 0.3s;
}

.navbar img:hover {
    cursor: unset;
    scale: 1;

}


.settings {
    background-color: white;

}

@media screen and (min-width: 1500px) {
    .container-xxxl {
        padding-inline: 2rem;
        max-width: 2600px;
        margin: auto;
    }
}

@media screen and (max-width: 1499px) {
    .container-xxxl {
        padding-inline: 1rem;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .dk {
        background-color: #00050d !important;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 1200px) {
    /* .slick-arrow {
        display: none !important;
    } */

    .carosel {
        height: 82vh !important;
    }

    .carousel-caption {
        left: 5% !important;
        right: 5% !important;
    }
}

@media screen and (max-width: 1500px) {

    .bebas {
        font-size: 40px;
        margin-top: 80px;
        text-transform: uppercase;
    }

}