body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body {
  margin: 0px;
}


body {
  background-color: #141414 !important;
}

#input {
  background-color: #141414;
}


.grey {
  background-color: #333333;
}
.dk{
  background-color: #141414 !important;
  border-radius: 0 !important;
}

.profile:hover {
  background-color: white !important;
}

img:hover {
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s;
}

.settings {
  background-color: white;
}

@media screen and (min-width: 1500px) {
  .container-xxxl {
    padding-inline: 2rem;
    max-width: 2600px;
    margin: auto;
  }
}
@media screen and (max-width: 1499px) {
  .container-xxxl {
    padding-inline: 1rem;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  nav {
    background-color: black;
    margin-bottom: 1rem;
  }
}