body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,

body {
  margin: 0px;
}


#input {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-scrolled {
  transition: all 0.3s ease; 
}

.grey {
  background-color: #333333;
}
.dk{
  background-color: #00050db9 !important;
  border-radius: 0 !important;
}

.dk2{
  background-color: #00050d !important;
  border-bottom: 0.5px solid red;
}
.gradient{
  background: rgb(0,5,13);
  background: linear-gradient(0deg, rgba(0,5,13,1) 0%, rgba(0,5,13,0.9668242296918768) 13%, rgba(0, 5, 13, 0.774) 31%, rgba(0, 5, 13, 0.541) 55%, rgba(0, 5, 13, 0.007) 100%);
}

.scale {
  cursor: pointer;
  scale: 1.05;
  transition: all 0.3s;
}
.navbar img:hover{
  cursor: unset;
  scale: 1;

}

.settings {
  background-color: white;
}

@media screen and (min-width: 1500px) {
  .container-xxxl {
    padding-inline: 2rem;
    max-width: 2600px;
    margin: auto;
  }
}
@media screen and (max-width: 1499px) {
  .container-xxxl {
    padding-inline: 1rem;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  nav {
    background-color: black;
    margin-bottom: 1rem;
  }
}